
:root{
--Nutmeg: hsl(14, 45%, 36%);
--darkraspberry: hsl(332, 51%, 32%);
--white: hsl(0, 0%, 100%);
--rosewhite: hsl(330, 100%, 98%);
--eggshell: hsl(30, 54%, 90%);
--lightgrey: hsl(30, 18%, 87%);
--wengebrown: hsl(30, 10%, 34%);
--darkcharcoal: hsl(24, 5%, 18%);
}
*,
*::before,
*::after{
    margin: 0;  
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
}

h1,h2,h3{
    font-family: "Youn Serif", serif;
    font-size: 400;
}


/*----* Header *----*/
header{
    overflow: hidden;
    margin-bottom: 40px;
}

header img{
    width: 100%;
}

/*----* Body *----*/
.main{
    padding: 0 32px 0;
}

.box-one h1{
    font-size: 36px;
    font-size: 400 ;
    margin-bottom: 24px;
}

.box-one p{
    font-size: 400;
    color: var(--wengebrown);
    margin-bottom: 32px;
    line-height: 150%;
}


/*----* Box two *----*/
.box-two{
    background-color: var(--rosewhite);
    padding: 24px;
    margin-bottom: 32px;
    border-radius: 5px;
}

.box-two h3{
    font-size: 20px;
    font-family: 'Outfit', Helvetica, sans-serif;
    font-weight: 400;
    color: var(--darkraspberry);
}